html {
    width: 100%;
    background-color: white;
}

body {
    width: 80%;
    margin: auto;
    background-color: #a2a2a2;
    min-height: 750px;
}

h1 {
    text-align: center;
}

.datepicker {
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: #fff;
    margin-bottom: 1em;
}

.accordion {
    width: 50%;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 1em;
}

#accordion {
    width: 95%;
    text-align: left;
    margin: auto;
}

.togglerDiv {
    width: 50%;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 1em;
}

.toggler {
    padding: 0 .5em;
}

button {
    margin-top: .5em;
}

.sortableList {
    width: 50%;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    width: 85%;
}