/* CSS Reset */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1;
}
/* End of Reset */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: green;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScLxrhoYB8U1rXZXCKMDc5lttRIOME5IubHw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}

#card {
    width: 30%;
    background: #283618;  
    color: #FEFAE0; 
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: .5em;
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}

ul {
    margin: 5% 7%;
    line-height: 1.5;
    list-style-type: none;
    
}

li {
    border: 1px solid black;
    color: whitesmoke;
    line-height: 1.5;
    background-color: #DDA15E;
    padding-left: 10px;
}

.winner {
    background-color: #606C38;
}

.placeholder {
    background-color: #BC6C25;;
}

.top3 {
    background-color: #DDA15E;
}

#report p {
    background: #606C38;
    text-align: center;
    padding: 1em;
    font-style: italic;
    height: 3.5em;
}