/* CSS Reset */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1;
}
/* End of Reset */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightgreen;
}

.panel {
    display: grid;
    min-width: 60%;
    padding: 4em;
    border-radius: 15px;
    background-color: whitesmoke;
}

 h1 {
    font-size: 2em;
    margin: auto;
    margin-bottom: 1em;
}

.menus {
    font-size: 1em;
    justify-content: space-between;
    display: flex;
    align-content: stretch;
}

.menus h2 {
    margin-bottom: .5em;
    text-decoration: underline;

}
.cocktailMenu {
    font-size: 1.75em;
}
.kidMenu {
    font-size: 1.75em;
}

#item1 {
    font-size: .9em;
    line-height: 1.3;
   
}
#item2  {
    font-size: .9em;
    line-height: 1.3;
   
}

